@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body
{
    font-family: 'Oxygen', sans-serif;

    color: white;
    background-color: rgb(12, 15, 20);
    margin: 0;
    padding: 0;
}
.conteiner
{
    width: 75%;
    margin: auto;
   
}

/*Cabecalho*/
.cabecalho
{  
    background-color: rgb(7, 9, 12);
    padding: 10px 15px;
    height: 100px;
    min-width: 550px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.cabecalho-logo
{
    text-transform: uppercase;
    font-size: 15px;
}
.navegacao-menu
{
    display: flex;
    gap: 5px;
    
    list-style-type: none;
    padding: 0;
}
.navegacao-menu a
{
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.navegacao-menu a:hover
{
    background-color: rgb(188, 210, 18);
    color:  rgb(38, 47, 60);
    text-decoration: underline;
}
/*------------------------------------------------------------------------------------------------*/

/*Meio-Conteudo*/

.meio
{
    
}
.meio-titulo
{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}

.sessao-conteudo
{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.div-item
{   
    display: flex;
    flex-direction: column;
    
    width: 90%;
    min-width: 200px;
    max-width: 290px;
    
    background-color: rgb(33, 38, 45);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 5px 10px black;
}


.div-conteudo-plano
{   
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;

    padding-bottom: 5px;
    border-bottom: 1.5px solid rgb(188, 210, 18);
}

.div-conteudo-preco
{
    font-weight: bold;
    font-size: 20px;
}
.div-conteudo-mes
{
    font-size: 10px;
    font-weight: 100;
}

.div-lista-vantagens
{
    list-style-position: inside;
    padding-left: 0;
    line-height: 1.5;

    flex-grow: 1;
}
.div-lista-vantagens li{
    margin-bottom: 4px;
}
.div-lista-vantagens li::marker
{
    color: rgb(188, 210, 18); ;
}

.div-conteudo-link{
    
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
 
    padding: 10px 10px;
    color: rgb(38, 47, 60);
    background-color: rgb(188, 210, 18);
    border-radius: 10px;
}
.div-conteudo-link:hover{
    transition: background-color 0.5s linear;
    background-color: rgb(148, 166, 14);
    outline: 3px solid rgb(188, 210, 18);;
}